.suggestionsContainer {
  width: 100%;
  position: relative;
}

.suggestions {
  margin-top: -15px;
  position: absolute;
  width: 100%;
}

.suggestionItem {
  z-index: 20;
  background-color: white;
}
